/* Styles for the Graphic Design section */
#graphic-design {
  text-align: center;
  padding: 50px;
}

#graphic-design h2 {
  font-size: 36px;
  margin-bottom: 30px;
  text-transform: uppercase;
}

/* Background styles for design items */
.scrapbook-bg1,
.scrapbook-bg2,
.scrapbook-bg3,
.scrapbook-bg4,
.scrapbook-bg5 {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: 70px;
  display: inline-block;
}

.scrapbook-bg1 {
  background-image: url('scrappngs/page1_scrap1.png');
}

.scrapbook-bg2 {
  background-image: url('scrappngs/page1_scrap2.png');
  margin-top: 70px;
}

.scrapbook-bg3 {
  background-image: url('scrappngs/page1_scrap3.png');
  margin-top: 70px;
}

.scrapbook-bg4 {
  background-image: url('scrappngs/page1_scrap4.png');
}

.scrapbook-bg5 {
  background-image: url('scrappngs/page1_scrap5.png');
}

