
/* Styles for the About Me section */
#about-me {
  margin-top: 40px;
  text-align: center;
  padding: 70px;
}

#about-me h1 {
  font-size: 50px;
  margin-bottom: 30px;
  text-transform: uppercase;
}

/*pushing text down on hermit island pic*/
.scrapbook-item2 {
  margin-top: 80px;
}

/* Background styles for design items */
.scrapbook-bg1,
.scrapbook-bg2,
.scrapbook-bg3,
.scrapbook-bg4,
.scrapbook-bg5 {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: 70px;
  display: inline-block;
}

.scrapbook-bg1 {
  background-image: url('scrappngs/page4_scrap1.png');
  margin-top: 190px;
}

.scrapbook-bg2 {
  background-image: url('scrappngs/page4_scrap2.png');
  margin-top: 20px;
}

.scrapbook-bg3 {
  background-image: url('scrappngs/page4_scrap3.png');
  padding: 180px;
}

.scrapbook-bg4 {
  background-image: url('scrappngs/page4_scrap4.png');
}

.scrapbook-bg5 {
  background-image: url('scrappngs/page4_scrap5.png');
}
