.container {
  text-align: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}
.back-link {
  align-content: 
}
.back-link img {
  width: 50%;
}

.main-title {
  font-size: 2rem;
  margin-left: 1rem;
}

.image-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-left: 150px;
  margin-right: 100px;
}

.image-column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-wrapper {
  position: relative;
  margin: 1rem 0;
}
.image-wrapper:nth-child(1) {
  max-width: 170px;
  transform: rotate(-5deg);
  z-index: 5;
}

.image-wrapper:nth-child(2) {
  max-width: 320px;
  transform: rotate(-3deg);
  z-index: 4;
}

.image-wrapper:nth-child(3) {
  max-width:100px;
  transform: rotate(-2deg);
  z-index: 3;
}

.image-wrapper:nth-child(4) {
  transform: rotate(1deg);
  z-index: 2;
}

.image-wrapper:nth-child(5) {
  transform: rotate(-3deg);
  z-index: 1;
}

.rotated-image {
  transform: rotate(90deg);
}

.enlarged-image {
  max-width: 200%;
  max-height: 200%;
}

.image-wrapper img {
  max-width: 100%;
  max-height: 100%;
}

.nested-image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 50%;
  max-height: 50%;
}

.image-title {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.2rem;
}

/* Responsive styles */
@media (max-width: 768px) {
  .main-title {
    font-size: 1.5rem;
  }

  .image-container {
    flex-direction: column;
  }

  .image-column {
    flex-direction: row;
    justify-content: center;
  }

  .image-wrapper {
    margin: 1rem;
  }

  .rotated-image {
    transform: none;
  }

  .enlarged-image {
    max-width: 100%;
    max-height: 100%;
  }
}