/* Styles for the Photography section */
#photography {
  text-align: center;
  padding: 50px;
}

#photography h1 {
  font-size: 36px;
  margin-bottom: 30px;
  text-transform: uppercase;
}


/* Background styles for design items */
.scrapbook-bg1,
.scrapbook-bg2,
.scrapbook-bg3,
.scrapbook-bg4,
.scrapbook-bg5 {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  padding: 70px;
  display: inline-block;
}

.scrapbook-bg1 {
  background-image: url('photography/image2.png');
}

.scrapbook-bg3 {
  background-image: url('photography/image4.png');
}

.scrapbook-bg4 {
  background-image: url('photography/image5.png');
}
